@import "bootstrap/scss/bootstrap";
body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: none;
}

input {
  border: none;
  min-width: 20rem;
  background-color: transparent;
  font-size: 14px;
  &:focus {
    outline: none;
  }
}

.special-gray {
  background-color: #edeef0;
  border: 1px solid #edeef0;
}

.padding-x-lg{
  padding-left: 190px;
  padding-right: 190px;
}
